#btnLeft {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 10px;
    background: rgb(239, 10, 209, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

#btnLeft2 {
    position: fixed;
    top: 70px;
    left: 20px;
    padding: 10px 5px;
    background: rgb(239, 10, 209, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.cartao {
    background-color: rgba(0, 0, 0, 0.526);
    border: solid 1px rgba(174, 159, 159, 0.795);
    border-radius: 30px;
    margin: 20px;
}

.cartaonomes {
    background-color: rgba(16, 10, 10, 0.836);
    border: solid 2px rgba(174, 159, 159, 0.795);
    border-radius: 30px;
    margin: 20px;
}



.btnembaralhar {
    background-color: rgba(219, 109, 14, 0.854);

}

.centro {
    position: absolute;
    width: 70px;
    height: 70px;
    border: #ffffff solid 1px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.25s ease, height 0.25s ease;


}



.centrochat {
    background-image: url("gato1.png");
    background-size: contain;


    position: absolute;
    width: 300px;
    height: 110px;
    border: #050505 solid 2px;
    border-radius: 10%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.25s ease, height 0.25s ease;
}

#chatBox {
    display: none;

}

iframe {

    width: 100%;
}

.blocoessencial {
    background-color: rgba(204, 38, 38, 0);
    border: solid 4px rgb(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 15px;
    margin: 1px;
}

.caixacheck+label {
    font-size: 12px;
    line-height: 12px;
    text-align: left;


}

.caixacheck {
    width: 20px;
    height: 25px;
    margin: 1px;
    margin-top: 6px;


}

.caixacheck+label {
    color: #ffffff;
    user-select: none;

}

input[type="checkbox"] {
    accent-color: #d108ac;
    cursor: pointer;
}