:root { --accent: #61dafb; }

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background:#111;
  overflow-x: hidden;
  position: relative;
  
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('leoeisa.png')
    center/cover no-repeat;
  filter: blur(2px) brightness(0.6);
  z-index: -2;
  transition: all 0.7s;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  margin-right: 4rem;
}

h1 {
  background-color: #c9c2c24d;
  padding: 1px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-bottom: 4px;
  text-align: center;
  text-shadow: 10px 10px 19px rgba(239, 234, 238, 0.9);
}

.controls,
.extras {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 15px;
  margin: 8px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 15px;
}

button {
  padding: 11px 13px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: var(--accent);
  color: #000;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: transform .12s ease;
  border-radius: 15px;
}

button:hover { transform: scale(1.1); }

#listaNomes {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin: 10px 0 20px;
}

.tagNome {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.tagNome button {
  background: #d61515;
  color: #fffbfb;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  padding: 0;
  cursor: pointer;
}

#container {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container:hover  {
  cursor: pointer;

}

.seta {
  position: absolute;
  top: -8px;
  z-index: 20;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 40px solid #e53935;
}

canvas {
  border-radius: 50%;
  border: 2px solid #fff;
  width: min(90vw, 500px);
  aspect-ratio: 1 / 1;
  background: rgba(0, 0, 0, 0.031);
  box-shadow: 0 0 18px rgba(0,0,0,0.4);
}
canvas:hover {
  border-color: #e012d6;
  box-shadow: 0 0 60px #f0e7ef;
  cursor: pointer;
  transition: 1000ms;
}

#resultadoOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.8);
  background: rgba(0,0,0,0.90);
  padding: 16px 28px;
  border-radius: 18px;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 3px 8px rgba(0,0,0,0.9);
  opacity: 0;
  transition: opacity .45s ease, transform .45s ease;
  z-index: 30;
  pointer-events: none;
}

#resultadoOverlay.mostrar {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

@media (max-width: 900px){
  .layout { flex-direction: column; align-items: center; }
  #resultadoOverlay { font-size: 1.4rem; padding: 10px 16px; }
}

.musica { background-color: orange; }

#ultimosVencedores {
  margin-top: 20px;
  background: rgba(255,255,255,0.08);
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
}

#listaVencedores {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.vencedorTag {
  background: rgba(255,255,255,0.15);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 600;
}


body.tema-claro {
  background: #FF4DA6;
  color: #FF4DA6;
  
     
}

body.tema-claro .tagNome {
  background: #FF4DA6;
  border-color: #bdbdbd;
  color: #000;
}

body.tema-claro button {
  color: #000;
}

body.tema-claro canvas {
  border-color: #FF4DA6;
  border-color: #e012d6;
  box-shadow: 0 0 90px #f0e7ef;
  cursor: pointer;
}

body.tema-claro #resultadoOverlay {
  background: rgba(255,255,255,0.95);
  color: #000;
}


#btnMostrarPainel {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 12px;
  background: linear-gradient(45deg, #e012d6, #ff4da6);
  color: #fff;
  cursor: pointer;
}

#btnOcultarPainel {
  background: linear-gradient(45deg, #e012d6, #ff4da6);
  color: #fff;
}

body.painel-oculto .painel {
  transition: all 0.5s ease-in-out;
  display: none;
  
}

body.painel-oculto .layout {
  height: 100vh;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  

}
body.painel-oculto::before {
  background-image: url("centro.png");
  background-size: contain;
  background-repeat: repeat;
  filter: blur(6px);
  transition: all 0.7s;
}


body.painel-oculto #container {
  margin: 0;   
  z-index: 2;
 
  
}




